<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="DevExpress Nuget server" value="https://nuget.devexpress.com/SfdzdiukZYW8SHPQ4Xm8euzZHdiblTHp7W2nPbHPwsCHLfgEV6/api/v3/index.json" />
  </packageSources>
</configuration>