html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    height: 100%;
}

.page-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.content-container {
    display: flex;
    flex: 1;
}

.content {
    height: 100%;
    overflow: auto; /* Ensure the content can scroll if it overflows */
}

.header-item {
    background-color: #f8f9fa; /* Light grey background */
    padding: 10px;
}

.content-item {
    background-color: #ffffff; /* White background */
    border: 1px solid #dee2e6; /* Light grey border */
    flex: 1;
}

.left-bar-item {
    background-color: #e9ecef; /* Light grey background */
    flex: 1;
}

.footer-item {
    background-color: #f8f9fa; /* Light grey background */
    padding: 10px;
}

.custom-accordion .dx-accordion-header {
    background-color: #2E9ACD; /* Blue background for accordion headers */
    color: #fff; /* White text color for accordion headers */
    cursor: pointer; /* Cursor pointer on hover */
    border-radius: 1px 1px 0 0; /* Rounded top corners */
}

.custom-accordion .dx-accordion-header .accordion-content {
    font-size: 14px;
    background-color: #e9ecef;
    color: #333;
    margin: 0;
    padding: 10px;
    border-bottom-width: 2px;
}

.custom-dxgrid .dx-row {
    border-left: none;
    border-right: none;
}

.custom-dxgrid .dx-row:nth-child(odd) {
    background-color: #f0f0f0; /* Alternate row background color */
}