@page "/sf"
@inject Data.Data.ApplicationDbContext DbContext

<PageTitle>Search Form</PageTitle>

<h1>Search Form</h1>

<DxDataGrid Data="@players" ShowFilterRow="true">
    <Columns>
        @foreach (var property in typeof(Data.Data.Batch).GetProperties())
        {
            <DxDataGridColumn Field="@property.Name" Caption="@property.Name" />
        }
    </Columns>
</DxDataGrid>

@code{
    private List<Data.Data.Batch> players;

    protected override async Task OnInitializedAsync()
    {
        players = await DbContext.Batches.ToListAsync();
    }
}