@inherits LayoutComponentBase

<DxGridLayout CssClass="w-100 ch-480">
    <Rows>
        <DxGridLayoutRow Areas="header header header" Height="auto" />
        <DxGridLayoutRow Areas="left-bar content content" />
        <DxGridLayoutRow Areas="footer footer footer" Height="auto" />
    </Rows>
    <Columns>
        <DxGridLayoutColumn Width="20%" />
        <DxGridLayoutColumn Width="80%" />
    </Columns>
    <Items>
        <DxGridLayoutItem Area="header" CssClass="header-item">
            <Template>
                Vendmanager
            </Template>
        </DxGridLayoutItem>
        <DxGridLayoutItem Area="content" CssClass="content-item">
            <Template>
                <main class="content">
                    @Body
                </main>
            </Template>
        </DxGridLayoutItem>
        <DxGridLayoutItem Area="left-bar" CssClass="left-bar-item">
            <Template>
                <Navbar />
            </Template>
        </DxGridLayoutItem>
        <DxGridLayoutItem Area="footer" CssClass="footer-item">
            <Template>
                Footer
            </Template>
        </DxGridLayoutItem>
    </Items>
</DxGridLayout>

<FluentToastProvider />
<FluentDialogProvider />
<FluentTooltipProvider />
<FluentMessageBarProvider />