<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Vendmanager Web</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <!-- Add 'mr-auto' here -->
            <li class="nav-item">
                <NavLink class="nav-link" href="/">Home</NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="/about">About</NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="/contact">Contact</NavLink>
            </li>
        </ul>
    </div>
</nav>
