@page "/"
@inject NavigationManager Navigation

<h3>Edit Form</h3>

<div>
    <EditForm>
        <DxFormLayout>
            <DxFormLayoutItem Caption="First Name">
                <DxTextBox contextmenu="textboxCtx" @bind-Text="@em.FirstName" />
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Last Name">
                <DxTextBox contextmenu="textboxCtx" @bind-Text="@em.LastName" />
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Email">
                <DxTextBox contextmenu="textboxCtx" @bind-Text="@em.Email" />
            </DxFormLayoutItem>
            <DxFormLayoutItem>
                <DxButton contextmenu="buttonCtx" Text="Save" Click="@OnSave" />
            </DxFormLayoutItem>
        </DxFormLayout>
    </EditForm>
</div>


@code {
    private void OnSave()
    {
        // Implement save logic here
        // For now, just navigate back to the home page or show a message
        Navigation.NavigateTo("/");
    }

    public class EditModel
    {
        public string FirstName { get; set; }
        public string LastName { get; set; }
        public string Email { get; set; }
    }

    private EditModel em { get; set; } = new EditModel();
}